<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What's PERM</title>
</head>
<body>
What is PERM
<br>
About Labor Certificate

Labor certification (not to be confused with the Labor Condition Application - LCA) is a United States of America
immigration process step. Its stated goal is to "protect U.S. workers and the U.S. labor market by ensuring that
foreign workers seeking immigrant visa classifications are not displacing equally qualified U.S. workers".

There are several options available to US employers who wish to hire foreign, non-immigrant workers on a temporary
but long-term basis: H-1B visas, L-1 visas, TN status and other options. These temporary options are often
sufficient to meet the needs of employer and employee. When a US employer wishes to hire the services of the
foreign worker on a permanent basis, however, a complex sponsorship process for the green card begins, a process
that can take years. Generally (although not always) the first step in that process is labor certification. Labor
certification is a process of proving that there are no qualified US workers for the position being offered.
If there are qualified US workers - in fact, even generally speaking if there are even minimally qualified US
workers - then the foreign worker cannot be offered the position on a permanent basis. This does not necessarily
mean that the foreign worker will be immediately replaced by a qualified US worker, though. The foreign worker can
still serve out the remainder of their existing US temporary visa, and may well be able to re-apply for labor
certification and be approved. But it does create a substantial inconvenience for the US employer who wishes to
hire a foreign worker, which does provide some protection to US workers, although the process is controversial.
<br>
台灣出生的人申請EB2及EB3的狀況
這些資料可以大至代表金融海嘯後,
台灣出生的mid and entry level勞工們在美國的所得分布

不考慮通膨及cost of living
<a href="../">Go back</a>


</body>
</html>