<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What's PERM</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <!-- Custom styles for this template -->
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/css/custom-animations.css' %}">
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/css/qa_page.css' %}">
</head>
<body>


<div class="container">
    <h1>What is PERM?</h1>
    <h3>About Labor Certificate</h3>
    <p>
        PERM 是申請職業移民第二、三類優先（EB-2, EB-3）的必要步驟之一。通過勞工部審查後核發 Labor Certification ，證明該外籍人士符合勞動短缺市場需求，且該職位找不到有美國籍的合格工作者，以保護美國本地勞工的工資水準與工作條件。
        <br>
        <br>
        本站整理 2007 年 10 月至今，台灣人申請 PERM 案件資料。因資料不包含其他工作身份（例如：OPT, CPT, H-1B, etc.)，也不考慮通膨及生活費用指數，此所得分佈僅供參考。
    </p>
    <br>
    <a href="../" style="font-size: 18px; font-weight: bold;">Go back</a>

</div>

</body>
</html>